numpy
pandas
scikit-learn
matplotlib
seaborn
pyyaml
flask
gunicorn

# Deep learning for crop disease detection
torch
torchvision
pillow

langchain

langchain-community
faiss-cpu

pypdf
python-dotenv

google-genai
langchain-google-genai>=2.0.0

sentence-transformers

huggingface_hub

openai
